{% extends "layout.html" %}
{% block title %}{{ categoryname }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>{{ message }}</p>
            <p>Category <b>{{ categoryname }}</b> has {{ postamount }} posts.</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTopicPostCat" aria-expanded="false" aria-controls="collapseTopicPostCat">
                Post a new topic in <b>{{ categoryname }}</b>
              </button>
              <br><br>
              <div class="collapse" id="collapseTopicPostCat">          
            <form action="/newtopic" method="POST">
            <div class="form-group">
                <label for="category">Category</label><br>
                <p><b>{{ categoryname }}</b></p>
                <input class="formcontrol" type="hidden" name="category" value="{{ categoryname }}">
            </div>
            <div class="form-group">
                <label for="title">Title for topic</label><br>
                <input class="formcontrol" type="text" name="title" maxlength="100" required>
                <small>Required</small>
            </div>
            <div class="form-group">
                <label for="message">Start your topic with a message</label><br>
                <textarea name="message" maxlength="5000" cols="55"></textarea><br>
                <small>0-5000 characters, optional</small>
            </div>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Post">
                </div>
            </form>
            <br>
        </div>
        <ul class="nav nav-tabs" id="topicSortCat" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="timeDesc-tab" data-bs-toggle="tab" data-bs-target="#timeDesc-tab-pane" type="button" role="tab" aria-controls="timeDesc-tab-pane" aria-selected="true">New</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="timeAsc-tab" data-bs-toggle="tab" data-bs-target="#timeAsc-tab-pane" type="button" role="tab" aria-controls="timeAsc-tab-pane" aria-selected="false">Old</button>
            </li>
          </ul>
          <br>
          <div class="tab-content" id="topicSortCat">
            <div class="tab-pane fade show active" id="timeDesc-tab-pane" role="tabpanel" aria-labelledby="timeDesc-tab" tabindex="0">
            {% for post in categoryposts %}
            <h2><a class="link-offset-1 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="/respond/{{ post[4] }}">{{ post[0] }}</a></h2>
            <p>{{ post[1] }}</p>
            <p>by <a href="/userpage/{{ post[5] }}">{{ post[2] }}</a></p>
            <p>Topic posted on {{ post[3].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTopicResponse{{ post[4] }}" aria-expanded="false" aria-controls="collapseTopicResponse{{ post[4] }}">
                Comment
            </button>
            <div class="collapse" id="collapseTopicResponse{{ post[4] }}">  
            <form action="/respond/{{ post[4] }}" method="POST">
                <br><p>Comment on this topic</p>
                <textarea name="content" cols="100%" maxlength="5000"></textarea><br>
                <small>Maximum 5000 characters</small></p><br>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input class="btn btn-primary" type="submit" value="Comment">
                </form>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="timeAsc-tab-pane" role="tabpanel" aria-labelledby="timeAsc-tab" tabindex="0">
            {% for post in categorypostsold %}
            <h2><a class="link-offset-1 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="/respond/{{ post[4] }}">{{ post[0] }}</a></h2>
            <p>{{ post[1] }}</p>
            <p>by <a href="/userpage/{{ post[5] }}">{{ post[2] }}</a></p>
            <p>Topic posted on {{ post[3].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTopicResponse{{ post[4] }}" aria-expanded="false" aria-controls="collapseTopicResponse{{ post[4] }}">
                Comment
            </button>
            <div class="collapse" id="collapseTopicResponse{{ post[4] }}">  
            <form action="/respond/{{ post[4] }}" method="POST">
                <br><p>Comment on this topic</p>
                <textarea name="content" cols="100%" maxlength="5000"></textarea><br>
                <small>Maximum 5000 characters</small></p><br>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input class="btn btn-primary" type="submit" value="Comment">
                </form>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
            {% if postamount == 0 %}
            <p> Seems {{ categoryname }} doesn't yet have anything.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}