{% extends "layout.html" %}
{% block title %}Message Board Application{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <p>{% if session.user_id %}
            <!--- If user is logged in, show their username and allow them to post a topic or browse existing ones-->
            <p>You are logged in as <a href="/userpage/{{session.user_id}}">{{ username[0] }}</a></p>
            </div>
            <br>
        </div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTopicPost" aria-expanded="false" aria-controls="collapseTopicPost">
                Post a new topic
              </button><br>
              <div class="collapse" id="collapseTopicPost">          
            <form action="/newtopic" method="POST">
            <div class="form-group">
                <label for="category">Category</label><br>
                <input class="formcontrol" type="text" name="category" value="uncategorized">
                <small>Optional</small>
            </div>
            <div class="form-group">
                <label for="title">Title for topic</label><br>
                <input class="formcontrol" type="text" name="title" maxlength="100" required>
                <small>Required</small>
            </div>
            <div class="form-group">
                <label for="message">Start your topic with a message</label><br>
                <textarea name="message" maxlength="5000" cols="55"></textarea><br>
                <small>0-5000 characters, optional</small>
            </div>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Post">
                </div>
            </form>
        </div>
        <h5>Sort topic list by</h5>
        <ul class="nav nav-tabs" id="topicSort" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="timeDesc-tab" data-bs-toggle="tab" data-bs-target="#timeDesc-tab-pane" type="button" role="tab" aria-controls="timeDesc-tab-pane" aria-selected="true">New</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="timeAsc-tab" data-bs-toggle="tab" data-bs-target="#timeAsc-tab-pane" type="button" role="tab" aria-controls="timeAsc-tab-pane" aria-selected="false">Old</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="commentsHigh-tab" data-bs-toggle="tab" data-bs-target="#commentsHigh-tab-pane" type="button" role="tab" aria-controls="commentsHigh-tab-pane" aria-selected="false">Most commented</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="commentsLow-tab" data-bs-toggle="tab" data-bs-target="#commentsLow-tab-pane" type="button" role="tab" aria-controls="commentsLow-tab-pane" aria-selected="false">Least commented</button>
            </li>
          </ul>
          <p>Current topic count: {{ count }}</p>
          <div class="tab-content" id="topicSort">
            <div class="tab-pane fade show active" id="timeDesc-tab-pane" role="tabpanel" aria-labelledby="timeDesc-tab" tabindex="0">
            <p>Topics by date posted, newest first</p>
            <hr>
            {% for topic in topicsnew %}
            <h3>{{ topic[0] }}</h3>
            <small>In category <a href="/category/{{ topic[7] }}">{{ topic[6] }}</a></small>
            <p>Sent by <a href="/userpage/{{ topic[5] }}">{{ topic[2] }}</a></p>
            <p>{{ topic[1] }}</p>
            <p>Posted on {{ topic[3].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Responses: {{ topic[8] }}</p>
            <form action="/respond/{{topic[4]}}" method="GET">
            <input class="btn btn-secondary" type="submit" value="Comment">
            </form>
            <hr>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="timeAsc-tab-pane" role="tabpanel" aria-labelledby="timeAsc-tab" tabindex="0">
            <p>Topics by date posted, oldest first</p>
            <hr>
            {% for topic in topicsold %}
            <h3>{{ topic[0] }}</h3>
            <small>In category <a href="/category/{{ topic[7] }}">{{ topic[6] }}</a></small>
            <p>Sent by <a href="/userpage/{{ topic[5] }}">{{ topic[2] }}</a></p>
            <p>{{ topic[1] }}</p>
            <p>Posted on {{ topic[3].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Responses: {{ topic[8] }}</p>
            <form action="/respond/{{topic[4]}}" method="GET">
            <input class="btn btn-secondary" type="submit" value="Comment">
            </form>
            <hr>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="commentsHigh-tab-pane" role="tabpanel" aria-labelledby="commentsHigh-tab" tabindex="0">
            <p>Topics by comments, most commented on first</p>
            <hr>
            {% for topic in topicsmost %}
            <h3>{{ topic[0] }}</h3>
            <small>In category <a href="/category/{{ topic[7] }}">{{ topic[6] }}</a></small>
            <p>Sent by <a href="/userpage/{{ topic[5] }}">{{ topic[2] }}</a></p>
            <p>{{ topic[1] }}</p>
            <p>Posted on {{ topic[3].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Responses: {{ topic[8] }}</p>
            <form action="/respond/{{topic[4]}}" method="GET">
            <input class="btn btn-secondary" type="submit" value="Comment">
            </form>
            <hr>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="commentsLow-tab-pane" role="tabpanel" aria-labelledby="commentsLow-tab" tabindex="0">
            <p>Topics by comments, least commented on first</p>
            <hr>
            {% for topic in topicsleast %}
            <h3>{{ topic[0] }}</h3>
            <small>In category <a href="/category/{{ topic[7] }}">{{ topic[6] }}</a></small>
            <p>Sent by <a href="/userpage/{{ topic[5] }}">{{ topic[2] }}</a></p>
            <p>{{ topic[1] }}</p>
            <p>Posted on {{ topic[3].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Responses: {{ topic[8] }}</p>
            <form action="/respond/{{topic[4]}}" method="GET">
            <input class="btn btn-secondary" type="submit" value="Comment">
            </form>
            <hr>
            {% endfor %}
        </div>
        </div>
            {% else %}
            <!--- View when not logged in-->
            <div class="col-sm">
                <h1>Welcome</h1>
                <p>This is a simple message board application.</p>
                <p>Need help? More <a href="/help">here.</a></p>
            </div>
            <div class="col-sm">
            {{ message }}
            <h2>Already have an account? Log in:</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <p><label for="username">Username:</label><br>
                    <input class="formcontrol" type="text" name="username"></p>
                </div>
                <div class="form-group">
                    <p><label for="password">Password:</label><br>
                    <input class="formcontrol" type="password" name="password"></p>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Log in">
                </div>
            </form>
            <h2>You can register <a href="/register">here</a></h2>
        </div>

            {% endif %}
            </p>
        </div>
    </div>
{% endblock %}