{% extends "layout.html" %}
{% block title %}Message Board Application{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <p>{% if session.user_id %}
            <!--- If user is logged in, show their username and allow them to post a topic or browse existing ones-->
            <p>You are logged in as <a href="/userpage/{{session.user_id}}">{{ username[0] }}</a></p>
            </div>
            <br>
        </div>
        <div class="row">
        <div class="col-sm">
            <h2>Post a new topic</h2>
            <form action="/newtopic" method="POST">
            <p><label for="category">Choose a category:</label></p>
            <input type="text" name="category" value="None">
            <p><label for="title">Choose a title for your topic: (Required)</label></p>
            <input type="text" name="title" maxlength="100" required>
            <p><label for="message">Start your topic with a message:(0-5000 characters)</label></p>
            <textarea name="message" maxlength="5000"></textarea></p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Post">
            </form>
        </div>
        <div class="col-sm">
            <h2>Topics</h2>
            <p>Current topic count: {{ count }}</p>
            {% for topic in topics %}
            <h3>{{ topic[0] }}</h3></br>
            <p>In category <a href="/category/{{ topic[7] }}">{{ topic[6] }}</a></p><br>
            Sent by:<a href="/userpage/{{ topic[5] }}">{{ topic[2] }}</a><br>
            <p>{{ topic[1] }}</p></br>
            Posted on {{ topic[3].strftime('%Y-%m-%d %H:%M:%S') }}</br>
            <form action="/respond/{{topic[4]}}" method="GET">
            <input type="submit" value="Comment">
            </form>
            <hr>
            {% endfor %}
        </div>
    </div>
            {% else %}
            <!--- View when not logged in-->
            <div class="col-sm">
                <h1>Welcome</h1>
                <p>This is a simple message board application.</p>
                <p>Need help? More <a href="/help">here.</a></p>
            </div>
            <div class="col-sm">
            {{ message }}
            <h2>Already have an account? Log in:</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <p><label for="username">Username:</label><br>
                    <input class="formcontrol" type="text" name="username"></p>
                </div>
                <div class="form-group">
                    <p><label for="password">Password:</label><br>
                    <input class="formcontrol" type="password" name="password"></p>
                </div>
                <div class="form-group">
                    <input class="formcontrol" type="submit" value="Log in">
                </div>
            </form>
            <h2>You can register <a href="/register">here</a></h2>
        </div>

            {% endif %}
            </p>
        </div>
    </div>
{% endblock %}