{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="container">
        <p>{% if session.user_id %}
            <p>You are already logged in as {{ username }}</p>
            <a href="/logout">Log out</a>
            {% else %}
            {{message}}
            <form action="/signup" method="POST">
            <p>Username (Between 1-20 characters):<br>
            <input type="text" name="username" maxlength="20" required></p>
            <p>Password:<br>
            <input type="password" name="password" required></p>
            <p>Repeat password:<br>
            <input type="password" name="password2" required></p>
            <input type="submit" value="Sign up">
            </form>
            {% endif %}
            </p>
    </div>
{% endblock %}