{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="container">
        <p>{% if session.user_id %}
            <p>You are already logged in as {{ username }}</p>
            <a href="/logout">Log out</a>
            {% else %}
            {{ message }}
            <p><a href="/">Return to the front page</a></p>
            <form action="/register" method="POST">
                <div class="form-group">
                    <p><label for="username">Username: (Between 1-20 characters)</label><br>
                    <input class="formcontrol" type="text" name="username" maxlength="20" required></p>
                </div>
                <div class="form-group">
                    <p><label for="password">Password: (Minimum 8 characters)</label><br>
                    <input class="formcontrol" type="password" name="password" minlength="8" maxlength="99" required></p>
                    <p><label for="password2">Repeat password:</label><br>
                    <input class="formcontrol" type="password" name="password2" minlength="8" maxlength="99" required></p>
                </div>
                <div class="form-group">
                    <label for="visibility">Allow other users to see your profile?</label><br>
                    <input class="formcontrol" type="radio" name="visibility" value="0"> Yes<br>
                    <input class="formcontrol" type="radio" name="visibility" value="1"> No<br>
                </div>
                <div class="form-group">
                    <input class="formcontrol" type="submit" value="Register new account">
                </div>
            </form>
            {% endif %}
            </p>
    </div>
{% endblock %}