{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="container">
        <p>{% if session.user_id %}
            <p>You are already logged in as {{ username }}</p>
            <a href="/logout">Log out</a>
            {% else %}
            {{ message }}
            <form action="/register" method="POST">
            <p><label for="username">Username (Between 1-20 characters):</label><br>
            <input type="text" name="username" maxlength="20" required></p>
            <p>Password:<br>
            <input type="password" name="password" required></p>
            <p><label for="password">Repeat password:</label><br>
            <input type="password" name="password2" required></p>
            <label for="visibility">Allow other users to see your profile?</label><br>
            Yes: <input type="radio" name="visibility" value="True"><br>
            No: <input type="radio" name="visibility" value="False"><br>
            <input type="submit" value="Register new account">
            </form>
            {% endif %}
            </p>
    </div>
{% endblock %}