{% extends "layout.html" %}
{% block title %}{{ title[0] }}{% endblock %}
{% block content %}
<div class="container overflow-hidden">
    <div class="row">
        <div class="col-sm">
            <p>You are logged in as {{ username[0] }}</p>
        <h3>{{ title[0] }}</h3><br>
        <p>In category <a href="/category/{{ categoryid }}">{{ category }}</a></p>
        <p>{{ startmessage[0] }}</p><br>
        {% if session.user_id == startuser[0][0] %}
        <p>Posted by you</p><br>
        <form action="/hidetopic/{{ topic }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete topic">
        </form>
        <hr>
        {% elif adminstatus %}
        <p>Posted by <a href="/userpage/{{ startuser[0][0] }}">{{ startuser[0][1] }}</a></p><br>
        <hr>
        <form action="/hidetopic/{{ topic }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete topic">
        </form>
        <hr>
        {% else %}
        <p>Posted by <a href="/userpage/{{ startuser[0][0] }}">{{ startuser[0][1] }}</a></p><br>
        <hr>
        {% endif %}
            <form action="/respond/{{ topic }}" method="POST">
            <p>Post a comment on this topic</p>
            <textarea name="content" cols="100%" required></textarea></p><br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input class="btn btn-secondary" type="submit" value="Comment">
            </form>
            <hr>
            <h2>Comments ({{ amount }})</h2>
            {% for message in messages %}
            <p>{{ message[0] }}</p><br>
            <p><a href="/userpage/{{message[3]}}">{{ message[1] }}</a></p></br>
            <p>Posted on {{ message[2].strftime('%Y-%m-%d %H:%M:%S') }}</p></br>
            {% if session.user_id == message[3] %}
            <form action="/hidemessage/{{ message[4] }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete message">
                </form>
            {% elif adminstatus %}
            <form action="/hidemessage/{{ message[4] }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete message">
                </form>
            {% endif%}
            <hr>
            {% endfor %}
        </div>
            </p>
        </div>
    </div>
{%endblock%}