{% extends "layout.html" %}
{% block title %}Respond to {{ title[0] }}{% endblock %}
{% block content %}
<div class="container overflow-hidden">
    <div class="row">
        <div class="col-sm">
        <p>{% if session.user_id %}
            <!--- If user is logged in, show their username and allow them to respond to topic-->
            <p>You are logged in as {{ username[0] }}</p>
        <h3>{{ title[0] }}</h3><br>
        <p>In category <a href="/category/{{ categoryid }}">{{ category }}</a></p>
        <p>{{ startmessage[0] }}</p><br>
        {% if session.user_id == startuser[0][0] %}
        <p>Posted by you</p><br>
        <form action="/hidetopic/{{ topic }}" method="POST">
        <input type="submit" value="Delete topic">
        </form>
        <hr>
        {% elif adminstatus %}
        <p>Posted by <a href="/userpage/{{ startuser[0][0] }}">{{ startuser[0][1] }}</a></p><br>
        <hr>
        <form action="/hidetopic/{{ topic }}" method="POST">
        <input type="submit" value="Delete topic">
        </form>
        {% else %}
        <p>Posted by <a href="/userpage/{{ startuser[0][0] }}">{{ startuser[0][1] }}</a></p><br>
        <hr>
        {% endif %}
            <form action="/respond/{{ topic }}" method="POST">
            <p>Respond...</p>
            <textarea name="content" cols="80%"></textarea></p><br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Post">
            </form>
            <hr>
            <h2>Responses</h2>
            {% for message in messages %}
            <p>{{ message[0] }}</p><br>
            <p><a href="/userpage/{{message[3]}}">{{ message[1] }}</a></p></br>
            <p>Posted on {{ message[2].strftime('%Y-%m-%d %H:%M:%S') }}</p></br>
            {% if session.user_id == message[3] %}
            <form action="/hidemessage/{{ message[4] }}" method="POST">
                <input type="submit" value="Delete message">
                </form>
            {% elif adminstatus %}
            <form action="/hidemessage/{{ message[4] }}" method="POST">
                <input type="submit" value="Delete message">
                </form>
            {% endif%}
            <hr>
            {% endfor %}
        </div>
            {% else %}
            {{ message }}
            <h2>You need to log in to respond:</h2>
            <form action="/login" method="POST">
            <p>Username:<br>
            <input type="text" name="username"></p>
            <p>Password:<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Log in">
            </form>
            <h2>If you don't have an account, you can register here:</h2>
            <p><a href="/register">To registration</h></p>

            {% endif %}
            </p>
        </div>
    </div>
{%endblock%}