{% extends "layout.html" %}
{% block title %}{{profilename[0]}}'s profile{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>{{ message }}</p>
            {% if useradminstatus %}
            <p>This user is an admin.</p>
            {% endif %}
            {% if adminstatus %}
            {% if canpost %}
            This user is currently allowed to post.
            <form action="/banuser/{{ user_id }}">
                <input type="submit" value="Block this user from posting">
            </form>
            {% else %}
            This user is currently blocked from posting.
            <form action="/unbanuser/{{ user_id }}">
                <input type="submit" value="Allow this user to post">
            </form>
            {% endif %}
            {% endif %}
            {% if visibility == True %}
            <p>{{ profilename[0] }} has posted {{ postamount }} times.</p>
            <hr>
            {% for post in profileposts %}
            <h2>{{ post[0] }}</h2>
            <p> In category <a href="/category/{{ post[4] }}">{{ post[3] }}</a></p>
            <p>{{ post[1] }}</p>
            <form action="/respond/{{ post[2] }}" method="GET">
            <input type="submit" value="Comment">
            </form>
            <hr>
            {% endfor %}
            {% if postamount == 0 %}
            <p> Seems {{ profilename[0] }} has yet to post anything</p>
            {% endif %}
            {% elif visibility == False %}
            This userpage is private
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}